html, body {
    height: 100%;
}

.s-wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.s-container {
    margin:auto;
    max-width: 780px;
}

.s-header {
    text-align: center;
}

.s-logo {}
.s-aside {}
.s-section {}

.s-footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    text-align: center;
}